

body {
  margin: 0;
  padding: 3em;
  /* font-family: 'EB Garamond', serif; */
  background: #000000;  /* fallback for old browsers */
  color: #fff;
}

.navigation ul {
  list-style-type: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

.navigation ul li {
  display: inline-block;
  margin: 0 1.5em 0.5em 0;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1.3em;
}

.navigation ul li a:visited {
  color: white;
}

@media only screen and (min-width: 414px) {
  .navigation ul li {
    margin: 0 1.5em 1.5em 0;
    font-size: 1em;
  }
}
