.App {
  text-align: center;
}

.snu-appear {
  opacity: 0.1;
  transform: translateY(120px);
}

.snu-appear .snu-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

/* this work*/
p {
  animation-name: snuText;
  animation-duration: 4s;
}

@keyframes snuText {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* this not. why? style-loader? webpack…*/

img {
  width: 100vw;
  /* filter: blur(5px); */
  z-index: -5;
  position: fixed;
}

/*why does this not work?*/
.bla {
  background-color: red;
}
