.App {
  text-align: center;
}

.snu-appear {
  opacity: 0.1;
  transform: translateY(120px);
}

.snu-appear .snu-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.keywords-appear {
  opacity: 0.1;
  transform: translateY(120px);
}

.keywords-appear .keywords-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}
/* this work*/
p {
  /* color: #fff; */
}

/* this not. why? style-loader? webpack…*/

img {
  width: 100vw;
  /* filter: blur(5px); */
  z-index: -5;
  position: fixed;
}
