
/* this work*/
p {
  text-align: justify;
  animation-name: snuText;
  animation-duration: 4s;
}

@keyframes snuText {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.title {
  text-transform: uppercase;
  margin: 2em 0;
}

.text {
  margin-bottom: 2em;
}

ul {
  padding-left: 0;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: monospace;
  font-size: 12px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: transparent;
}

.keywordsButton {
  border: 2px solid #fff;
  color: #ffffff;
}

.randomButton, .titlesButton  {
  border: 2px solid #e6005c;
  color: #e6005c;
}

.buttonsList {
  list-style-type: none;
  display: inline-block;
}
