
.finished {
  animation-name: fadeOutDecrease;
  animation-duration: 3s;
  opacity: 0.1;
  font-size: 300px;
}

@keyframes fadeOutDecrease {
  from {
    opacity: 1;
    font-size: 500px;
  }
  to {
    opacity: 0.1;
    font-size: 300px;
  }
}
