@media (min-width:320px)  {
  .finished {
    animation-name: fadeOutDecrease;
    animation-duration: 3s;
    opacity: 0.1;
    font-size: 100px;
  }
  
  @keyframes fadeOutDecrease {
    from {
      opacity: 1;
      font-size: 200px;
    }
    to {
      opacity: 0.1;
      font-size: 100px;
    }
  }
}

@media (min-width:768px)  {
  .finished {
    animation-name: fadeOutDecrease;
    animation-duration: 3s;
    opacity: 0.1;
    font-size: 200px;
  }
  
  @keyframes fadeOutDecrease {
    from {
      opacity: 1;
      font-size: 300px;
    }
    to {
      opacity: 0.1;
      font-size: 200px;
    }
  }
}

@media (min-width:961px)  {
  .finished {
    animation-name: fadeOutDecrease;
    animation-duration: 3s;
    opacity: 0.1;
    font-size: 300px;
  }
  
  @keyframes fadeOutDecrease {
    from {
      opacity: 1;
      font-size: 500px;
    }
    to {
      opacity: 0.1;
      font-size: 300px;
    }
  }
}
