@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Noto+Sans+KR&display=swap');
.titleWrapper {
  padding: 2em;
}

.container {
  padding: 5em 20em;
}

.snuWrapper {
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.snuFadeOut {
  animation-name: fadeOut;
  animation-duration: 3s;
}

.snuTitle {
  font-size: 500px;
  position: absolute;
  z-index: 1;
  margin: 0;
  animation-name: fadeInFromLeft;
  animation-duration: 3s;
  word-break: break-all;
}

.historiatedInitial {
  font-size: 100px;
  animation-name: fadeIn;
  animation-duration: 1s;
  margin-bottom: 0;
}

.typedText {
  font-size: 60px;
  margin-bottom: 50px;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation-name: fadeInFromBottom;
  animation-duration: 3s;
}

.textWrapper {
  width: 75%;
}

.text {
  color: #ffffff;
  white-space: pre-wrap;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  line-height: 1.7;
  hyphens: auto; 
}

.chaptersWrapper {
  width: 25%;
}

.chapters {
  text-align: right;
  line-height: 1.7;
}

.crossedThrough {
  text-decoration: line-through;
}

.bold {
  font-weight: 600;
  font-size: 18px;
  font-style: sans-serif;
}

.nextButton {
  color: black;
  background-color: white;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 8px 16px;
  border: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 12px;
  text-decoration: none;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.modalFadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0.1;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
