@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rajdhani:wght@400;600&display=swap');

@media (min-width:320px)  {
  .snuContainer {
    padding: 0 1.5em 2em 1.5em;
  }

  .snuWrapper {
    display: flex;
    flex-direction: column;
  }

  .titleWrapper {
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .snuFadeOut {
    animation-name: fadeOut;
    animation-duration: 3s;
  }

  .snuTitle {
    font-size: 200px;
    position: absolute;
    z-index: 1;
    margin: 0;
    animation-name: fadeInFromLeft;
    animation-duration: 3s;
    word-break: break-all;
  }

  .historiatedInitial {
    font-size: 50px;
    animation-name: fadeIn;
    animation-duration: 1s;
    margin-bottom: 0;
  }

  .typedText {
    font-size: 30px;
    margin-bottom: 0;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation-name: fadeInFromBottom;
    animation-duration: 3s;
  }

  .textWrapper {
    width: 100%;
  }

  .text {
    color: #ffffff;
    white-space: pre-wrap;
    font-family: 'Lora', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    hyphens: auto; 
  }

  .chaptersWrapper {
    display: none;
  }

  .crossedThrough {
    text-decoration: line-through;
  }

  .bold {
    font-weight: 600;
  }

  .nextButton {
    color: white;
    background-color: black;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 4px 8px;
    border: white 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    animation-name: fadeIn;
    animation-duration: 3s;
    cursor: pointer;
  }

  .modalFadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInFromBottom {
    from {
      opacity: 0.1;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width:768px)  {
  .snuContainer {
    padding: 0 5em 3em 5em;
  }

  .snuWrapper {
    display: flex;
    flex-direction: column;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  .snuFadeOut {
    animation-name: fadeOut;
    animation-duration: 3s;
  }

  .snuTitle {
    font-size: 200px;
    position: absolute;
    z-index: 1;
    margin: 0;
    animation-name: fadeInFromLeft;
    animation-duration: 3s;
    word-break: break-all;
  }

  .historiatedInitial {
    font-size: 50px;
    animation-name: fadeIn;
    animation-duration: 1s;
    margin-bottom: 0;
  }

  .typedText {
    font-size: 30px;
    margin-bottom: 0;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation-name: fadeInFromBottom;
    animation-duration: 3s;
  }

  .textWrapper {
    width: 100%;
  }

  .text {
    color: #ffffff;
    white-space: pre-wrap;
    font-family: 'Lora', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    hyphens: auto; 
  }

  .chaptersWrapper {
    display: none;
  }

  .crossedThrough {
    text-decoration: line-through;
  }

  .bold {
    font-weight: 600;
  }

  .nextButton {
    color: white;
    background-color: black;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 4px 8px;
    border: white 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    animation-name: fadeIn;
    animation-duration: 3s;
    cursor: pointer;
  }

  .modalFadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInFromBottom {
    from {
      opacity: 0.1;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width:961px)  {
  .textWrapper {
    width: 60%;
  }

  .chaptersWrapper {
    display: block;
    width: 25%;
  }
}

@media (min-width:1200px)  {
  .snuContainer {
    padding: 5em 20em;
  }

  .snuWrapper {
    display: flex;
    flex-direction: column;
  }

  .titleWrapper {
    padding: 4em;
    display: flex;
    flex-direction: column;
  }

  .snuFadeOut {
    animation-name: fadeOut;
    animation-duration: 3s;
  }

  .snuTitle {
    font-size: 500px;
    position: absolute;
    z-index: 1;
    margin: 0;
    animation-name: fadeInFromLeft;
    animation-duration: 3s;
    word-break: break-all;
  }

  .historiatedInitial {
    font-size: 100px;
    animation-name: fadeIn;
    animation-duration: 1s;
    margin-bottom: 0;
  }

  .typedText {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation-name: fadeInFromBottom;
    animation-duration: 3s;
  }

  .textWrapper {
    width: 75%;
  }

  .text {
    color: #ffffff;
    white-space: pre-wrap;
    font-family: 'Lora', sans-serif;
    font-size: 24px;
    line-height: 1.8;
    hyphens: auto; 
  }

  .chaptersWrapper {
    display: block;
    width: 25%;
  }

  .chapters {
    text-align: right;
    line-height: 1.7;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
  }

  .crossedThrough {
    text-decoration: line-through;
  }

  .bold {
    font-weight: 600;
  }

  .nextButton {
    color: white;
    background-color: black;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 8px 16px;
    border: white 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    animation-name: fadeIn;
    animation-duration: 3s;
    cursor: pointer;
  }

  .modalFadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInFromBottom {
    from {
      opacity: 0.1;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
